include ../mixins/mixins.pug

nav.navbar.navbar-expand-lg.narbar-light.bg-light
  .container-fluid
    .navbar-header
      +iconBtn("menu", "login")
      +iconDropdown("account_circle", "login", "members", "signup")
