link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@9.4.0/dist/sweetalert2.all.min.js')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css')


script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js')
script(src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.1/dist/fullcalendar.min.js')
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9.4.0/dist/sweetalert2.all.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.8.6/apexcharts.js')
script(src='https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js.map')
script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js')