.dropdown
  i.material-icons.btn.btn-secondary.dropdown-toggle#dropdownMenuButton(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") account_circle
  .dropdown-menu(aria-labelledby="dropdownMenuButton")
    a.dropdown-item(href="#") Action