doctype html
html(lang="en")
  head
    include ../includes/head.pug
  body.container-fluid
    nav.navbar.navbar-default
      include ../includes/navbar.pug
    main
      .container
        .row
          .col-md-6.col-md-offset-3
            block content
    footer#sticky-footer
      include ../includes/footer.pug
    include ../includes/scripts.pug