doctype html
html(lang="en")
  head
    block head
  body.container-fluid
    header
      block navbar
    main
      .container
        .row
          .col-md-6.col-md-offset-3
            block content
            block scripts
    footer
      block footer