doctype html
head
  meta(charset='UTF-8')
  title TaskR| Add New Reminder
 
.container.topContainer
  .jumbotron.jumbotron-fluid
    .optionsDiv
      a.btn-lg.notSelected(href='/previous')
        span.fa.fa-arrow-circle-left
        |  Previous Reminders
      a.btn-lg.notSelected(href='/present')
        | Today&apos;s Reminders Below
        span.fa.fa-arrow-circle-down
      a.btn-lg.notSelected(href='/future')
        | Future Reminders 
        span.fa.fa-arrow-circle-right
      hr
      a#addNew.btn-lg.selected(href='/addNew')
        | Add New Reminders
        span.fa.fa-plus
    .container
      form
        #form-row
          .form-row.addForm
            .form-group.col-md-5
              h4
                label.badge.badge-dark.addFormLabel(for='reminder')  Reminder Name 
              input#newReminder.form-control(type='text' required='')
            .form-group.col-md-4
              h4
                label.badge.badge-dark.addFormLabel(for='date')  Date 
              input#newDate.form-control(type='date' min='2018-01-01' required='')
            .form-group.col-md-2
              h4
                label.badge.badge-dark.addFormLabel(for='time')  Time 
              input#newTime.form-control(type='time' required='')
            .form-group.col-md-1
              h4
                label.badge.badge-dark.addFormLabelSubmit(for='submit')  Submit 
              button#addSubmit.btn.btn-dark.mb-2(type='submit' onclick='window.location.reload()') Submit
  .container
    .row
      .col-lg-12
        .card
          .card-header.cardHeaderText
            | All of the Reminders
          #reminderSection.card-body
            // Content will go in here
// Custom Script
script(src='js/add.js' type='text/javascript')

style.
  * {box-sizing: border-box;}
  ul {list-style-type: none;}
  body {font-family: Verdana, sans-serif;}
  .month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
  }
  .month ul {
  margin: 0;
  padding: 0;
  }
  .month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  }
  .month .prev {
  float: left;
  padding-top: 10px;
  }
  .month .next {
  float: right;
  padding-top: 10px;
  }
  .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  }
  .weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
  }
  .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  }
  .days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  }
  .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
  }
  /* Add media queries for smaller screens */
  @media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
  }
  @media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
  }
  @media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
  }
h1 CSS Calendar
.month
  ul
    li.prev &#x276E;
    li.next &#x276F;
    li
      | August
      br
      span(style='font-size:18px') 2017
ul.weekdays
  li Mo
  li Tu
  li We
  li Th
  li Fr
  li Sa
  li Su
ul.days
  li 1
  li 2
  li 3
  li 4
  li 5
  li 6
  li 7
  li 8
  li 9
  li
    span.active 10
  li 11
  li 12
  li 13
  li 14
  li 15
  li 16
  li 17
  li 18
  li 19
  li 20
  li 21
  li 22
  li 23
  li 24
  li 25
  li 26
  li 27
  li 28
  li 29
  li 30
  li 31

