doctype html
head
  meta(charset='UTF-8')
  title TaskR| Future Reminders
.container.topContainer
  .jumbotron.jumbotron-fluid
    .optionsDiv
      a.btn-lg.notSelected(href='/previous')
        span.fa.fa-arrow-circle-left
        |  Previous Reminders
      a.btn-lg.notSelected(href='/present')
        | Today&apos;s Reminders Below
        span.fa.fa-arrow-circle-down
      a.btn-lg.selected(href='/future')
        | Future Reminders 
        span.fa.fa-arrow-circle-right
      hr
      a#addNew.btn-lg.notSelected(href='/addNew')
        | Add
        | New Reminders
        span.fa.fa-plus
  .container
    .row
      .col-lg-12
        .card
          .card-header.cardHeaderText
            | Future Reminders
          #reminderSection.card-body
            // Content will go in here
// Custom Script
script(src='js/future.js' type='text/javascript')
