extends ./layouts/template.pug

block main
  h2 Login Form
  form.login
    .form-group
      label(for='addEmail') Email address
      input#email-input.form-control(type='email' placeholder='Email')
    .form-group
      label(for='addPassword') Password
      input#password-input.form-control(type='password' placeholder='Password')
    button.btn.btn-primary(type='submit') Login
  br
  p Or sign up
    a(href="/") here