extends ./layouts/template.pug
include ./mixins/mixins.pug

block main
  .d-flex.flex-row.bd-highlight.mb-3
    .p-2.bd-highlight
      +card("TO DO")
    .p-2.bd-highlight
      +card("IN PROGRESS")
    .p-2.bd-highlight
      +card("DONE")
  +modal("login")
  +modal("signup")
