extends ./layouts/template.pug
include ./mixins/mixins.pug

block main
  h1 Welcome #{name}
  +card("hello", "hey", "yo")
  +modal("login")
  +modal("signup")
  - var cols = ["#", "First", "Last", "Handle"];
  - var rows = ["1", "mark", "Otto", "to"];
  - var data = ["1", "mark", "Otto", "to"];
  +table("test", cols, rows, data)