extends ./layouts/template.pug
include ./mixins/mixins.pug

block main
  h1 Welcome #{name}
  +card("TO DO", "hey", "yo")
  +card("IN PROGRESS", "hey", "yo")
  +card("DONE", "hey", "yo")
  +modal("login")
  +modal("signup")
