extends ./layouts/template.pug

block main
  body.application.application-offset
    .container-fluid.container-application
      .main-content.position-relative
        .page-content
          .min-vh-100.py-5.d-flex.align-items-center
            .w-100
              .row.justify-content-center
                .col-sm-8.col-lg-5
                  .card.shadow.zindex-100.mb-0
                    .card-body.px-md-5.py-5
                      .mb-5
                        h6.h3 Create account
                      span.clearfix
                      form.signup(role='form')
                        .form-group
                          label.form-control-label Email address
                          .input-group.input-group-merge
                            .input-group-prepend
                              span.input-group-text
                                i.fas.fa-user
                            input.form-control#email-input(type='email' placeholder='name@example.com')
                        .form-group.mb-4
                          label.form-control-label(for='exampleInputPassword1') Password
                          .input-group.input-group-merge
                            .input-group-prepend
                              span.input-group-text
                                i.fas.fa-key
                            input.form-control#password-input(type='password' placeholder='********')
                            .input-group-append
                              span.input-group-text
                                a(href='#' data-toggle='password-text' data-target='#password-input')
                                  i.fas.fa-eye
                        .alter.alert-danger#alert(style='display:none' role='alert')
                          span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                          span.sr-only Error:
                          span.msg
                        .my-4
                          .custom-control.custom-checkbox.mb-3
                            input.custom-control-input#check-terms(type='checkbox')
                            label.custom-control-label(for='check-terms')
                              | I agree to the

                              a(href='#modal-terms' data-toggle='modal')  terms and conditions
                          .custom-control.custom-checkbox
                            input.custom-control-input#check-privacy(type='checkbox')
                            label.custom-control-label(for='check-privacy')
                              | I agree to the
    
                              a(href='#modal-privacy' data-toggle='modal')  privacy policy
                        .mt-4
                          button.btn.btn-sm.btn-primary.btn-icon.rounded-pill(type='submit')
                            span.btn-inner--text Create my account
                            span.btn-inner--icon
                              i.fas.fa-long-arrow-alt-right
                    .card-footer.px-md-5
                      small Already have an account?
                      a.small.font-weight-bold(href='/login')  Sign in
  include ./includes/scripts.pug
  script(type='text/javascript' src='./assets/js/register.js')
