extends ./layouts/template.pug

block content
  h2 Add User
    form.signup
      .form-group
        label(for='addEmail') Email address:
        input#email-input.form-control(type='email' placeholder='Email')
      .form-group
        label(for='addPassword') Password:
        input#password-input.form-control(type='password' placeholder='Password')
    #alert.alert.alert-danger(style='display: none' role='alert')
    span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
    span.sr-only Error:
    span.msg
    button.btn.btn-default(type='submit') Sign Up